<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="label-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>