@{
    ViewBag.Title = "Contact";
}

<div class="container theme-showcase" role="main">
    <div class="bs-docs-header" id="content">
        <div class="container">
            <h1>Getting started</h1>
            <p>An overview of Bootstrap, how to download and use, basic templates and examples, and more.</p>   

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table-responsive"
                   data-toggle="table"
                   data-url="http://localhost:37445/Character/ContentResult"
                   data-sort-name="Name">
                <thead>
                    <tr>
                        <th data-field="Name"
                            data-sortable="true"
                            data-width="100">
                            Name
                        </th>
                        <th data-field="Points"
                            data-sortable="true"
                            data-width="100">
                            Points
                        </th>
                        <th data-field="Class"
                            data-sortable="true"
                            data-width="100">
                            Class
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped"
                   data-toggle="table"
                   data-url="http://localhost:37445/Character/ContentResult"
                   data-sort-name="Name">
                <thead>
                    <tr>
                        <th data-field="Name"
                            data-sortable="true"
                            data-width="100">
                            Name
                        </th>
                        <th data-field="Points"
                            data-sortable="true"
                            data-width="100">
                            Points
                        </th>
                        <th data-field="Class"
                            data-sortable="true"
                            data-width="100">
                            Class
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>